<div [hidden]="mapVisible">

    <button type="button" class="btn btn-primary" style="float: right;" (click)="backToRecordList()">Back</button>
    <div class="row">
        <div class="col-sm-1 form-group">
            <label for="txtTripID" tlt>
                Origen
            </label>
            <div class="form-control disabled">{{selectedRow.SourceName}}</div>
        </div>
        <div class="col-sm-1 form-group">
            <label for="txtTripDate" tlt>
                Envio
            </label>
            <div class="form-control disabled">{{selectedRow.SaleDeliveryNumber}}</div>
        </div>
        <div class="col-sm-1 form-group">
            <label for="txtTripStatusName" tlt>
                Pedido
            </label>
            <div class="form-control disabled">{{selectedRow.SaleOrderNumber}}</div>
        </div>
        <div class="col-sm-1 form-group">
            <label for="txtTripTypeName" tlt>
                Vendedor
            </label>
            <div class="form-control disabled">{{selectedRow.SaleRepresentativeName}}</div>
        </div>
        <div class="col-sm-5 form-group">
            <label for="txtDeliveryZoneName" tlt>
                Cliente
            </label>
            <div class="form-control disabled">{{selectedRow.CustomerName}}</div>
        </div>
        <div class="col-sm-2 form-group">
            <label for="txtWarehouseGroupID" tlt>
                Dirección
            </label>
            <div *ngIf="record.TripTypeID =='Customer'" class="form-control disabled">
                <div [hidden]="!(record.TripTypeID =='Customer' && record.DeliveryZoneID !=='Expreso')">
                    {{selectedRow.Address}} {{selectedRow.DistrictName}} ({{selectedRow.ZipCode}})
                    {{selectedRow.StateName}}
                </div>
                <div [hidden]="!(record.TripTypeID =='Customer' && record.DeliveryZoneID ==='Expreso')">
                    <strong>{{selectedRow.CarrierName}}</strong><br />
                    {{selectedRow.CarrierAddress}} {{selectedRow.CarrierPhone}}
                </div>
            </div>
        </div>
        <div class="col-sm-2 form-group">
            <label for="txtFreightName" tlt>
                Zona
            </label>
            <div class="form-control disabled">{{selectedRow.DeliveryZoneName}}</div>
        </div>
        <div class="col-sm-3 form-group">
            <label for="txtVehicleTypeName" tlt>
                Instrucciones de entrega
            </label>
            <div class="form-control disabled">{{selectedRow.DeliveryInstruction}}</div>
        </div>
        <div class="col-sm-2 form-group">
            <label for="txtDriverName" tlt>
                Comentarios logistica
            </label>
            <select disabled [(ngModel)]="selectedRow.SaleDeliveryOnTripStatusID" name="SaleDeliveryDeliveryRemarks"
                class="form-control" autocomplete="off"
                ng-options="T.SaleDeliveryOnTripStatusID as T.SaleDeliveryOnTripStatusName for T in SaleDeliveryOnTripStatusList | filterValueByArray:'SaleDeliveryOnTripStatusID':['Delivered','Rejected','Observed','Returned'] | orderBy:'SaleDeliveryOnTripStatusName'"
                placeholder="Resultado" id="txtSaleDeliveryOnTripStatusID"></select>
            <select [(ngModel)]="selectedRow.SaleDeliveryRejectReasonID" name="SaleDeliveryRejectReasonID"
                class="form-control" autocomplete="off" *ngIf="selectedRow.SaleDeliveryOnTripStatusID ==='Rejected'"
                disabled
                ng-options="T.SaleDeliveryRejectReasonID as T.SaleDeliveryRejectReasonName for T in SaleDeliveryRejectReasonList | orderBy:'SaleDeliveryRejectReasonName'"
                placeholder="Motivo de Rechazo" id="txtSaleDeliveryRejectReasonID">
                <option value=''>- Motivo Rechazo ? -</option>
            </select>

            <div disabled class="form-control" placeholder="Comentarios Entrega">
                {{selectedRow.SaleDeliveryOnTripRemarks}}</div>
        </div>
    </div>
    <div style="width: 100%;" id="map">

        <pre *ngIf="record?.coords"></pre>
        <label for="myFile" class="btn btn-success">
            <i class="fas fa-upload"></i>&nbsp;&nbsp;<span tlt>Subir Archivo</span>
        </label>
        <input class="btn btn-success" type="file" id="myFile" name="filename" accept="image/*"
            (change)="takePicture($event,record,'FileID')" capture style="visibility: hidden;">

        <button type="button" class="btn btn-info" (click)="setLocation('ArrivedToDestination')">Llegada a
            destino</button>
        <button type="button" class="btn btn-info" (click)="setLocation('LeftFromDestination')">Salida del
            destino</button>




        <canvas id="canvaid" [hidden]="!pictureVisible"
            style="max-width: 1000px; max-height: 1000px; border: solid 1px blue;"></canvas>



    </div>
</div>
<div class="table-responsive" [hidden]="mapVisible">
    <table class="table table-bordered  table-sm">
        <thead class="thead-dark">
            <tr>
                <th tlt>EventID</th>
                <th tlt>Ubicacion</th>
                <!-- <th tlt>Latitude</th> -->
                <!-- <th tlt>Longitude</th> -->
                <th tlt>Picture</th>
                <th tlt>CreatedOn</th>
                <th tlt>preview</th>

            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let r of record.TripEvent | filter:{'SaleDeliveryID':selectedRow.SaleDeliveryID} | orderBy:'-CreatedOn'; let index=index">
                <td>{{r.EventID}} </td>
                <td class="col-sm-1">
                    <label for="Location" class="btn btn-dark">
                        <i class="fa-solid fa-location-dot"></i>
                    </label>
                    <button class="btn btn-dark" id="Location" (click)="viewPosition(r)"
                        style="visibility: hidden;"></button>
                </td>
                <!-- <td style="text-align:right; font-weight:bold">{{r.Longitude}}</td> -->
                <td class="col-sm-2">
                    <div>
                        <a target="_blank" href="{{tripService.baseUrl}}Api/file/{{r.FileID}}"
                            *ngIf="r.Preview===false">
                            {{r.FileName}}
                        </a>
                        <a target="_blank" href="{{tripService.baseUrl}}Api/file/{{r.FileID}}" *ngIf="r.Preview===true">
                            <img src="{{tripService.baseUrl}}Api/File/GetThumbnailFile/{{r.FileID}}"
                                *ngIf="r.Preview===true" />
                        </a>
                    </div>
                </td>
                <td>{{r.CreatedOn | date:'dd/MM/yyyy HH:mm'}} </td>
                <td>{{r.Preview}} </td>

            </tr>


        </tbody>
        <tfoot>

            <tr style="font-weight:bold">
                <td colspan="1">
                    <button type="button" class="btn btn-outline-info">
                        <i class="fas fa-plus"></i>
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<iframe *ngIf="!!currentPositionUrl" width="425" height="350" frameborder="0" scrolling="no" marginheight="0"
    marginwidth="0" [src]="currentPositionUrl" [hidden]="!mapVisible"></iframe>
<button class="button" style="position: absolute;top: 0px; left:400px;" (click)="closeMap()"
    [hidden]="!mapVisible">X</button>