<div [hidden]="mapVisible">
    <div class="row" style="padding: 0xp ; margin:0px ">
        <div>
            <button type="button" class="btn btn-primary col-2 col-sm-1" (click)="backToRecordList()">Volver</button>
        </div>
        <div class="col-6 col-sm-2 form-group">
            <label for="txtTripID" tlt>
                Origen
            </label>
            <div class="form-control disabled">{{selectedRow.SourceName}}</div>
        </div>
        <div class="col-6 col-sm-2 form-group">
            <label for="txtTripDate" tlt>
                Envio
            </label>
            <div class="form-control disabled">{{selectedRow.SaleDeliveryNumber}}</div>
        </div>
        <div class="col-6 col-sm-2 form-group">
            <label for="txtTripStatusName" tlt>
                Pedido
            </label>
            <div class="form-control disabled">{{selectedRow.SaleOrderNumber}}</div>
        </div>
        <div class="col-6 col-sm-2 form-group">
            <label for="txtTripNumber" tlt>
                Viaje N°
            </label>
            <div class="form-control disabled">{{selectedRow.TripID}}</div>
        </div>
        <div class="col-6 col-sm-2 form-group">
            <label for="txtTripDate" tlt>
                Fecha
            </label>
            <div class="form-control disabled">{{selectedRow.DeliveryDate | date:'dd/MM/yyyy'}}</div>
        </div>
        <div class="col-6 col-sm-2 form-group">
            <label for="txtTripTypeName" tlt>
                Vendedor
            </label>
            <div class="form-control disabled">{{selectedRow.SaleRepresentativeName}}</div>
        </div>
        <div class="col-6 col-sm-2 form-group">
            <label for="txtDeliveryZoneName" tlt>
                Cliente
            </label>
            <div class="form-control disabled">{{selectedRow.CustomerName}}</div>
        </div>
        <div class="col-6 col-sm-4 form-group" *ngIf="record.TripTypeID =='Customer'">
            <label for="txtWarehouseGroupID" tlt>
                Dirección
            </label>
            <div *ngIf="record.TripTypeID =='Customer'" class="form-control disabled">
                <div [hidden]="!(record.TripTypeID =='Customer' && record.DeliveryZoneID !=='Expreso')">
                    {{selectedRow.Address}} {{selectedRow.DistrictName}} ({{selectedRow.ZipCode}})
                    {{selectedRow.StateName}}
                </div>
                <div [hidden]="!(record.TripTypeID =='Customer' && record.DeliveryZoneID ==='Expreso')">
                    <strong>{{selectedRow.CarrierName}}</strong><br />
                    {{selectedRow.CarrierAddress}} {{selectedRow.CarrierPhone}}
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-2 form-group">
            <label for="txtFreightName" tlt>
                Zona
            </label>
            <div class="form-control disabled">{{selectedRow.DeliveryZoneName}}</div>
        </div>
        <div class="col-12 form-group">
            <label for="txtVehicleTypeName" tlt>
                Instrucciones de entrega
            </label>
            <div class="form-control disabled">{{selectedRow.DeliveryInstruction}}</div>
        </div>
        <div class="col-6 col-sm-2 form-group">
            <label for="txtWarehouseID" tlt>
                Estado de entrega
            </label>

            <select [(ngModel)]="selectedRow.SaleDeliveryOnTripStatusID" class="form-select" autocomplete="off"
                placeholder="Estado de entrega" name="txtSaleDeliveryOnTripStatusID"
                [hidden]="!isTripStarted() && isTripclosed() || !isTripStarted() && !isTripclosed()">
                <option [ngValue]=undefined selected tlt> - Seleccione -</option>
                <option [value]="T.SaleDeliveryOnTripStatusID"
                    *ngFor="let T of SaleDeliveryOnTripStatusList | filterValueByArray:'SaleDeliveryOnTripStatusID':['Delivered','Rejected','Observed','Returned']  | orderBy:'SaleDeliveryOnTripStatusName'">
                    {{ T.SaleDeliveryOnTripStatusName }}
                </option>
            </select>

        </div>
        <div class="col-sm-3 form-group" *ngIf="selectedRow.SaleDeliveryOnTripStatusID ==='Rejected'">
            <label for="txtWarehouseID" tlt>
                Motivo rechazo
            </label>

            <select [(ngModel)]="selectedRow.SaleDeliveryRejectReasonID" class="form-select" autocomplete="off"
                placeholder="Motivo rechazo" name="txtSaleDeliveryRejectReasonID">
                <option [ngValue]=undefined selected tlt>- Seleccione -</option>
                <option [value]="T.SaleDeliveryRejectReasonID"
                    *ngFor="let T of SaleDeliveryRejectReasonList | orderBy:'SaleDeliveryRejectReasonName'">
                    {{T.SaleDeliveryRejectReasonName }}
                </option>
            </select>
        </div>

        <div class="col-12 form-group">
            <label for="txtDriverName" tlt>
                Comentarios transportista
            </label>
            <textarea class="form-control" [(ngModel)]="selectedRow.SaleDeliveryOnTripRemarks"
                placeholder="Comentarios Entrega"></textarea>
        </div>
    </div>
    <div class="row" style="padding: 0xp ; margin:0px ; margin-top: 25px; margin-bottom: 25px;">

        <div class="col-6 form-group">
            <button type="button" class="btn btn-success" (click)="SaleDeliveryOnTripStatusChanged(selectedRow)">Grabar
                cambios</button>
        </div>
        <div class="col-6 form-group">
            <label for="myFile" class="btn btn-success">
                <i class="fas fa-upload"></i>&nbsp;&nbsp;<span tlt>Foto en destino</span>
            </label>
            <input class="btn btn-success col-6" type="file" id="myFile" name="filename" accept="image/*"
                (change)="takePicture($event,record,'FileID')" capture style="visibility: hidden;">
        </div>

    </div>
    <div style="width: 100%; padding-left: 12px;" class="row" id="map"
        [hidden]="!isTripStarted() && isTripclosed() || !isTripStarted() && !isTripclosed()">



        <button type="button" class="btn btn-info col-6" (click)="setLocation('ArrivedToDestination')">Llegada a
            destino</button>
        <button type="button" class="btn btn-info col-6" (click)="setLocation('LeftFromDestination')">Salida del
            destino</button>

        <!-- <canvas id="canvaid" [hidden]="!pictureVisible"
            style="max-width: 1000px; max-height: 1000px; border: solid 1px blue;"></canvas> -->

    </div>
</div>
<div class="table-responsive" [hidden]="mapVisible" style="padding-left: 12px; padding-right: 12px;">
    <table class="table table-bordered  table-sm">
        <thead class="thead-dark">
            <tr>
                <th tlt>Evento</th>
                <th tlt>Ubicación</th>
                <th tlt>Foto</th>
                <th tlt>Creado el</th>

            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let r of record.TripEvent | filter:{'SaleDeliveryID':selectedRow.SaleDeliveryID} | orderBy:'-CreatedOn'; let index=index">
                <td>{{(tripService.eventList | filter:'EventID':r.EventID)[0].EventName}}</td>
                <td class="col-sm-1">
                    <label for="Location" class="btn btn-dark">
                        <i class="fa-solid fa-location-dot"></i>
                    </label>
                    <button class="btn btn-dark" id="Location" (click)="viewPosition(r)"
                        style="visibility: hidden;"></button>
                </td>
                <td class="col-sm-2">
                    <div>
                        <a target="_blank" href="{{tripService.baseUrl}}Api/file/{{r.FileID}}"
                            *ngIf="r.Preview===false">
                            {{r.FileName}}
                        </a>
                        <a target="_blank" href="{{tripService.baseUrl}}Api/file/{{r.FileID}}" *ngIf="r.Preview===true">
                            <img src="{{tripService.baseUrl}}Api/File/GetThumbnailFile/{{r.FileID}}"
                                *ngIf="r.Preview===true" />
                        </a>
                    </div>
                </td>
                <td>{{r.CreatedOn | date:'dd/MM/yyyy HH:mm'}} </td>
            </tr>
        </tbody>

    </table>
</div>
<iframe *ngIf="!!currentPositionUrl" width="425" height="350" frameborder="0" scrolling="no" marginheight="0"
    marginwidth="0" [src]="currentPositionUrl" [hidden]="!mapVisible"></iframe>
<button class="button" style="position: absolute;top: 0px; left:400px;" (click)="closeMap()"
    [hidden]="!mapVisible">X</button>