div.disabled {
    /* padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    height: 28px;
    border-radius: 4px; */
    /* border: 1px solid rgb(204, 204, 204); */
    background-color: rgb(238, 238, 238);
    /* font-size: 12px; */
}

div.right {
    text-align: right;
}