<div style="width: 100%;" id="map">
<iframe  *ngIf="record.coords" width="425" height="350" [src]="record.url | safe"
style="border: 1px solid black"></iframe><br/>
  <!--
      <a href="https://www.openstreetmap.org/#map=19/{{record.coords.longitude}}/{{record.coords.latitude}}"></a></small>
  {{record.coords | json}} -->



<pre *ngIf="record.coords"></pre>
<label for="myFile" class="btn btn-success" >
  <i class="fas fa-upload"></i>&nbsp;&nbsp;<span tlt>Subir Archivo</span>
</label>
<!-- <input type="file" name="recordProjectFileID" id="recordProjectFileID"
  (change)="uploadFile($event,record,'FileID')" /> -->

  <input style="display: none;" type="file" id="myFile" name="filename" accept="image/*" (change)="uploadFile($event,record,'FileID')"  capture>

  <canvas id="canvaid" style="max-width: 1000px; max-height: 1000px; border: solid 1px blue;"></canvas>



</div>
